{
  "root": true,
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "prettier/prettier": "error",

    "no-console": "off",
    "no-restricted-syntax": "off",
    "global-require": "off",
    "no-underscore-dangle": "off",

    "import/no-extraneous-dependencies": "off"
  }
}
